#!/usr/bin/env bash

export BASE_DIR="${PWD}"
export CODE_DIR="${BASE_DIR}/code"
export JOB_DIR="${BASE_DIR}/job"

export GOPATH="${BASE_DIR}"

export PYTHONPATH="${PYTHONPATH}:${BASE_DIR}"

export DB_HOST=host.docker.internal
export DB_PORT=5432
export DB_USER=murabi
export DB_PASS=murabi
export DB_NAME=murabi

export MURKER_ADDRESSES="host.docker.internal:9000,host.docker.internal:9001"
