#!/usr/bin/env bash

export BASE_DIR="${PWD}"
export CODE_DIR="${BASE_DIR}/code"
export JOB_DIR="${BASE_DIR}/job"
export LIB_DIR="${BASE_DIR}/lib"

export GOPATH="${BASE_DIR}"

export PYTHONPATH="${PYTHONPATH}:${BASE_DIR}"
